<!-- Example pagination in your index view -->
<div class="pagination">
  <%= paginate @products %>
</div>

<!-- List of products -->
<ul>
  <% @products.each do |product| %>
    <li><%= product.name %></li>
    <!-- Add other product details as needed -->
  <% end %>
</ul>
